/* .App {
  text-align: center;
} */

body{
  background-color: black;

}

.main {
  width: 30vw;
  border-radius: 5px;
  /* border: 0.5px solid lightseagreen; */
  /* display: flex; */
  background-color: white;
  margin: auto;
 

}

.nav{
background-color:gray;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
align-items: center
}
.header{
  max-width: 100% !important;
  display: block !important; 
  align-items: center;
}

.header .row{
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;
}

.toggleBtn{
  text-align: end;
}


.cards{
  margin: auto;
}

.inputForm{
  display: flex;
  justify-content: space-between;
}

.searchInput{
  width: 100%;
  margin-right: 10px;
}
